body {
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #303030;
}

div {
    border: 2px solid #6F6F6F;
    display: inline-block;
    padding: 30px;
    margin: 70px;
}

.parole {
    color: #6F8A99;
}

/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fade - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

.parole i:nth-child(1){
    position: relative;
    animation-name: fade1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
}
.parole i:nth-child(2){
    position: relative;
    right: 108px;
    animation-name: fade2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
}
.parole i:nth-child(3){
    position: relative;
    right: 223px;
    animation-name: fade3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes fade1{
    0% {opacity: 0; top: -10px;}
    11% {opacity: 1; top: 0px;}
    22% {opacity: 1; top: 0px;}
    33% {opacity: 0; top: 10px;}
    100% {opacity: 0; top: 10px;}
}

@keyframes fade2{
    0% {opacity: 0; top: -10px;}
    33% {opacity: 0; top: -10px;}
    44% {opacity: 1; top: 0px;}
    55% {opacity: 1; top: 0px;}
    66% {opacity: 0; top: 10px;}
    100% {opacity: 0; top: 10px;}
}
@keyframes fade3{
    0% {opacity: 0; top: -10px;}
    66% {opacity: 0; top: -10px;}
    77% {opacity: 1; top: 0px;}
    88% {opacity: 1; top: 0px;}
    99% {opacity: 0; top: 10px;}
    100% {opacity: 0; top: 10px;}
}
