body {
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
    text-align: center;
    background-color: rgb(40, 40, 40);
}

/* ROTAZIONE */

.postitContainer div:nth-child(1):not(:hover) {
    transform: rotate(-4deg);
}
.postitContainer div:nth-child(2):not(:hover) {
    transform: rotate(3deg);
}
.postitContainer div:nth-child(3):not(:hover) {
    transform: rotate(-5deg);
}
.postitContainer div:nth-child(4):not(:hover) {
    transform: rotate(7deg);
}
.postitContainer div:nth-child(5):not(:hover) {
    transform: rotate(-4deg);
}
.postitContainer div:nth-child(6):not(:hover) {
    transform: rotate(-8deg);
}
.postitContainer div:nth-child(7):not(:hover) {
    transform: rotate(-3deg);
}
.postitContainer div:nth-child(8):not(:hover) {
    transform: rotate(4deg);
}

.postitContainer {
    background-color: rgb(92, 92, 92);
    margin: 30px;
    padding: 10px;
}

h2 {
    font-weight: 700;
}
p {
    font-size: 0.8rem;
}

/* POSTITS */

#task1, #task5, #task7{
    background-image: linear-gradient(0deg, #BDBDA2, #FAF8C9);
}
#task2, #task4, #task8{
    background-image: linear-gradient(0deg, #A4BEA6, #C7F6CB);
}
#task3, #task6{
    background-image: linear-gradient(0deg, #9293A5, #C7C8F7);
}

/* FLEX */

main{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
}

.postitContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:center;
    
}

.postitContainer div {
    flex-basis: 12%;
    padding: 2em 1.5em;
    margin: 9px 0;
    box-shadow: 2px 2px 5px #111111;
}

.postitContainer div:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-property: transform(scale);
    transition-duration: 500ms;
}

.postitContainer div:not(:hover){
    transform: scale(1);
    transition-property: transform(scale);
    transition-duration: 500ms;
}